<head>
    <!--<script src="https://js.leapmotion.com/0.2.0/leap.min.js"></script>-->
    <script src="/js/leaptrainer.min.js"></script>

    <script src="js/three.min.js"></script>

    <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="https://js.leapmotion.com/leap-plugins-0.1.11.js"></script>
    <script src="https://js.leapmotion.com/leap.rigged-hand-0.1.4.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <!--&lt;!&ndash; override the bundled playback plugin: &ndash;&gt;-->
    <!--<script src="js/leap.playback-0.2.1.min.js"></script>-->
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="background-color: #5cb85c!important; padding: -50px -50px -50px; z-index: 50000!important;">
    <a class="navbar-brand" href="#">ASLeap Translator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Speech to ASL<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">ASL to Text</a>
        </div>
    </div>
</nav>

<div style="padding: 30px 50px 10px 50px;">
    <!--<h1>ASL to Text Translator</h1>-->
    <div id="message_container"></div>

    <div class="card">
        <div class="card-header card-title">ASL to Text Translator</div>
        <div class="card-body">
            <!--<h5 class="card-title">ASL to Text Translator</h5>-->
            <div style="padding: 10px 10px 10px 10px;">
                <label for="exampleInputEmail1">Recognized Gesture Translations Will Appear Below</label>
                <div class="row">
                    <div class="col-md-12" id="keywords" aria-describedby="keywordHelp"
                         placeholder="Recognized Words Will Appear Here">
                        <!--<small id="keywordHelp" class="form-text text-muted">Enter Words To Display Here, and they will be-->
                        <!--turned into sign language-->
                        <!--</small>-->
                        <div id="result"></div>
                    </div>
                </div>

            </div>


            <div id="connect-leap" class="col-md-8"></div>
            <script>

                var leapController = new Leap.Controller();
                var trainer = new LeapTrainer.Controller({controller: leapController});
                leapController.connect();
                trainer.fromJSON('{"name":"PEACE","pose":true,"data":[[{"x":0.040480804297614775,"y":-0.29250185897976605,"z":0.22466499711878363,"stroke":1},{"x":0.010176513442045475,"y":-0.23583271367341133,"z":0.19213813015983006,"stroke":1},{"x":-0.02012777741352382,"y":-0.1791635683670566,"z":0.15961126320087637,"stroke":1},{"x":-0.030529540326136445,"y":0.7074981410202339,"z":-0.5764143904794901,"stroke":1}],[{"x":0.04632803970443519,"y":-0.2921018050011444,"z":0.23118856258038356,"stroke":1},{"x":0.016001293505226596,"y":-0.23596606499961853,"z":0.19812460964225542,"stroke":1},{"x":-0.014325452693981978,"y":-0.17983032499809265,"z":0.16506065670412728,"stroke":1},{"x":-0.0480038805156798,"y":0.7078981949988556,"z":-0.5943738289267665,"stroke":1}],[{"x":0.0527134464322592,"y":-0.29224903727065554,"z":0.23870377264843035,"stroke":1},{"x":0.02160779726447294,"y":-0.2359169875764482,"z":0.20504130248032526,"stroke":1},{"x":-0.009497851903313308,"y":-0.1795849378822408,"z":0.17137883231222018,"stroke":1},{"x":-0.0648233917934188,"y":0.7077509627293445,"z":-0.6151239074409756,"stroke":1}],[{"x":0.049431927699027024,"y":-0.29245495821792483,"z":0.23808327884526004,"stroke":1},{"x":0.018598468626381974,"y":-0.23584834726069173,"z":0.20442341660229923,"stroke":1},{"x":-0.01223499044626307,"y":-0.17924173630345863,"z":0.17076355435933843,"stroke":1},{"x":-0.05579540587914591,"y":0.7075450417820752,"z":-0.6132702498068978,"stroke":1}],[{"x":0.04867654433622664,"y":-0.2925837889088644,"z":0.24004840683319384,"stroke":1},{"x":0.017798578369842756,"y":-0.23580540369704522,"z":0.20605582775533848,"stroke":1},{"x":-0.013079387596541162,"y":-0.17902701848522604,"z":0.17206324867748313,"stroke":1},{"x":-0.05339573510952821,"y":0.7074162110911356,"z":-0.6181674832660156,"stroke":1}]]}');

                trainer.fromJSON('{"name":"OK","pose":true,"data":[[{"x":0.27309928520002497,"y":-0.012770409439112923,"z":0.17828814585047392,"stroke":1},{"x":0.14525624855553126,"y":-0.04709056998595379,"z":0.1617536777869194,"stroke":1},{"x":0.017413211911037507,"y":-0.08141073053279468,"z":0.145219209723365,"stroke":1},{"x":-0.11042982473345625,"y":-0.11573089107963556,"z":0.12868474165981048,"stroke":1},{"x":-0.23827286137794995,"y":-0.15005105162647644,"z":0.11215027359625607,"stroke":1},{"x":-0.36611589802244365,"y":-0.18437121217331734,"z":0.09561580553270144,"stroke":1},{"x":0.2790498384672558,"y":0.5914248648372907,"z":-0.8217118541495261,"stroke":1}],[{"x":0.2984155451559966,"y":-0.02202823813916882,"z":0.1793627424310421,"stroke":1},{"x":0.1569903547802492,"y":-0.0643183547904598,"z":0.15978420750715205,"stroke":1},{"x":0.015565164404501786,"y":-0.10660847144175079,"z":0.1402056725832619,"stroke":1},{"x":-0.12586002597124563,"y":-0.14889858809304174,"z":0.12062713765937183,"stroke":1},{"x":-0.26728521634699304,"y":-0.19118870474433233,"z":0.10104860273548166,"stroke":1},{"x":-0.40871040672274045,"y":-0.23347882139562331,"z":0.0814700678115916,"stroke":1},{"x":0.3308845847002316,"y":0.7665211786043766,"z":-0.7824984307279008,"stroke":1}],[{"x":0.2994805314631539,"y":-0.011178370250320813,"z":0.1708470957585948,"stroke":1},{"x":0.1609125719297959,"y":-0.04684378525723468,"z":0.15778511773791726,"stroke":1},{"x":0.022344612396437757,"y":-0.08250920026414851,"z":0.1447231397172397,"stroke":1},{"x":-0.11622334713692023,"y":-0.11817461527106236,"z":0.13166116169656228,"stroke":1},{"x":-0.2547913066702783,"y":-0.15384003027797621,"z":0.11859918367588451,"stroke":1},{"x":-0.39335926620363637,"y":-0.18950544528489005,"z":0.10553720565520708,"stroke":1},{"x":0.28163620422144753,"y":0.6020514466056326,"z":-0.8291529042414052,"stroke":1}],[{"x":0.3057837572492232,"y":-0.023866464934907905,"z":0.15709683639105043,"stroke":1},{"x":0.1663187177609043,"y":-0.0589302278177507,"z":0.15045164607522699,"stroke":1},{"x":0.02685367827258539,"y":-0.09399399070059351,"z":0.14380645575940332,"stroke":1},{"x":-0.11261136121573345,"y":-0.12905775358343669,"z":0.13716126544357976,"stroke":1},{"x":-0.25207640070405246,"y":-0.1641215164662795,"z":0.13051607512775631,"stroke":1},{"x":-0.3915414401923713,"y":-0.1991852793491227,"z":0.12387088481193276,"stroke":1},{"x":0.2572730488294445,"y":0.669155232852091,"z":-0.8429031636089496,"stroke":1}],[{"x":0.3026584524546088,"y":-0.02409811387978822,"z":0.1604593591857001,"stroke":1},{"x":0.16465067598293331,"y":-0.05897239220452691,"z":0.1522449915657067,"stroke":1},{"x":0.026642899511257978,"y":-0.09384667052926561,"z":0.1440306239457133,"stroke":1},{"x":-0.11136487696041747,"y":-0.1287209488540047,"z":0.13581625632571992,"stroke":1},{"x":-0.24937265343209286,"y":-0.1635952271787434,"z":0.12760188870572653,"stroke":1},{"x":-0.38738042990376825,"y":-0.19846950550348247,"z":0.11938752108573314,"stroke":1},{"x":0.2541659323474785,"y":0.6677028581498112,"z":-0.8395406408142999,"stroke":1}]]}');

                trainer.fromJSON('{"name":"WAVE","pose":true,"data":[[{"x":0.26491898159591887,"y":-0.13587372195561298,"z":0.15818501919608308,"stroke":1},{"x":0.12219733803734723,"y":-0.11504641961825078,"z":0.14931573214411564,"stroke":1},{"x":-0.020524305521224306,"y":-0.09421911728088858,"z":0.1404464450921481,"stroke":1},{"x":-0.1632459490797959,"y":-0.07339181494352598,"z":0.13157715804018066,"stroke":1},{"x":-0.3059675926383676,"y":-0.05256451260616378,"z":0.12270787098821323,"stroke":1},{"x":-0.44868923619693923,"y":-0.03173721026880118,"z":0.11383858393624613,"stroke":1},{"x":0.5513107638030608,"y":0.5028327966732432,"z":-0.8160708093969872,"stroke":1}],[{"x":0.2651188481075312,"y":-0.13868133005293923,"z":0.13137029792966526,"stroke":1},{"x":0.12345729127919508,"y":-0.11295313598779382,"z":0.13539069365428247,"stroke":1},{"x":-0.01820426554914112,"y":-0.0872249419226484,"z":0.1394110893788998,"stroke":1},{"x":-0.15986582237747726,"y":-0.06149674785750339,"z":0.143431485103517,"stroke":1},{"x":-0.3015273792058134,"y":-0.03576855379235798,"z":0.14745188082813387,"stroke":1},{"x":-0.4431889360341496,"y":-0.010040359727212955,"z":0.15147227655275108,"stroke":1},{"x":0.5342102637798556,"y":0.44616506934045574,"z":-0.8485277234472489,"stroke":1}],[{"x":0.2635106336222462,"y":-0.14305217354617936,"z":0.12929437800693433,"stroke":1},{"x":0.12256713939711855,"y":-0.11641996105767428,"z":0.13404134570450743,"stroke":1},{"x":-0.018376354828009034,"y":-0.08978774856916921,"z":0.1387883134020802,"stroke":1},{"x":-0.15931984905313662,"y":-0.06315553608066413,"z":0.1435352810996534,"stroke":1},{"x":-0.3002633432782642,"y":-0.036523323592159054,"z":0.14828224879722618,"stroke":1},{"x":-0.4412068375033918,"y":-0.009891111103653982,"z":0.15302921649479928,"stroke":1},{"x":0.5330886116434372,"y":0.45882985394949993,"z":-0.8469707835052007,"stroke":1}],[{"x":0.20904946274209796,"y":-0.14276789226652775,"z":0.04998660245977249,"stroke":1},{"x":0.09513341403075792,"y":-0.10827446209362651,"z":0.08249129159885216,"stroke":1},{"x":-0.018782634680582055,"y":-0.07378103192072526,"z":0.11499598073793182,"stroke":1},{"x":-0.13269868339192206,"y":-0.03928760174782432,"z":0.1475006698770115,"stroke":1},{"x":-0.24661473210326207,"y":-0.004794171574923067,"z":0.18000535901609105,"stroke":1},{"x":-0.36053078081460205,"y":0.029699258597977868,"z":0.21251004815517105,"stroke":1},{"x":0.4544439542175123,"y":0.33920590100564907,"z":-0.787489951844829,"stroke":1}],[{"x":0.19186829342998807,"y":-0.1429993194130157,"z":0.04724750237944353,"stroke":1},{"x":0.08524432519887165,"y":-0.10014416945873363,"z":0.08071087654663844,"stroke":1},{"x":-0.02137964303224482,"y":-0.05728901950445127,"z":0.11417425071383314,"stroke":1},{"x":-0.1280036112633612,"y":-0.014433869550168898,"z":0.14763762488102805,"stroke":1},{"x":-0.23462757949447766,"y":0.028421280404113153,"z":0.18110099904822263,"stroke":1},{"x":-0.34125154772559413,"y":0.07127643035839523,"z":0.21456437321541755,"stroke":1},{"x":0.44814976288681824,"y":0.21516866716386118,"z":-0.7854356267845825,"stroke":1}]]}');

                // trainer.fromJSON('{"name":"FAMILY","pose":true,"data":[[{"x":0.2819916317454765,"y":-0.06291835090050459,"z":0.22221967262478848,"stroke":1},{"x":0.14514894819208024,"y":-0.0903540967538346,"z":0.19433075388718468,"stroke":1},{"x":0.008306264638684113,"y":-0.11778984260716456,"z":0.16644183514958077,"stroke":1},{"x":-0.04634335580145399,"y":-0.08916308934545554,"z":0.11190358207636891,"stroke":1},{"x":-0.0083993982996734,"y":0.012536550430319801,"z":0.020730649500417364,"stroke":1},{"x":0.016898908245802313,"y":0.11622692627999089,"z":-0.07342206486863939,"stroke":1},{"x":0.09831585479808869,"y":0.14775973576576057,"z":-0.14279319202274554,"stroke":1},{"x":0.22208951473551775,"y":0.09400283232638725,"z":-0.16999256773398236,"stroke":1},{"x":-0.7180083682545235,"y":-0.010300665195499284,"z":-0.3294186686129734,"stroke":1}],[{"x":0.1014880706785456,"y":-0.3155062593320559,"z":0.24437887009461995,"stroke":1},{"x":0.13597448324503014,"y":-0.14487489143018484,"z":0.2347365281983052,"stroke":1},{"x":0.17046089581151447,"y":0.02575647647168633,"z":0.22509418630199068,"stroke":1},{"x":0.2021569769622068,"y":0.19080363536392397,"z":0.2105414850403084,"stroke":1},{"x":0.14802276504536205,"y":0.18408112806718419,"z":0.04494665988927199,"stroke":1},{"x":0.0925245049862875,"y":0.1634320517506868,"z":-0.1177541029856577,"stroke":1},{"x":0.03422466011292624,"y":0.11417953903561007,"z":-0.27451082277785066,"stroke":1},{"x":-0.08700933380407971,"y":-0.004419315943767432,"z":-0.2862098776536384,"stroke":1},{"x":-0.7978430230377932,"y":-0.213452363983083,"z":-0.2812229261073492,"stroke":1}],[{"x":0.0658386634507434,"y":-0.29582997816737966,"z":0.20900065681502794,"stroke":1},{"x":0.11841704309267231,"y":-0.14270665567372068,"z":0.20408148796286035,"stroke":1},{"x":0.17099542273460122,"y":0.010416666819938414,"z":0.19916231911069276,"stroke":1},{"x":0.22357380237653013,"y":0.16353998931359748,"z":0.19424315025852518,"stroke":1},{"x":0.15931570364111247,"y":0.16367848389044198,"z":0.060046110429555544,"stroke":1},{"x":0.08615389361184111,"y":0.15215852419830428,"z":-0.08400275697798909,"stroke":1},{"x":0.025172719939091426,"y":0.10855724221221841,"z":-0.2274514997760987,"stroke":1},{"x":-0.07304105122312221,"y":0.016911947880899558,"z":-0.2774161939015724,"stroke":1},{"x":-0.7764261976234699,"y":-0.17672622047429987,"z":-0.27766327392100193,"stroke":1}],[{"x":0.07265276829532985,"y":-0.3043932005563992,"z":0.20754937045385252,"stroke":1},{"x":0.12244771783211983,"y":-0.1514779385935631,"z":0.1986821588683073,"stroke":1},{"x":0.1722426673689097,"y":0.0014373233692729914,"z":0.1898149472827621,"stroke":1},{"x":0.22203761690569945,"y":0.1543525853321091,"z":0.1809477356972169,"stroke":1},{"x":0.16535971907231872,"y":0.16807866453034243,"z":0.048577709195177066,"stroke":1},{"x":0.09679446883448728,"y":0.16570780250983147,"z":-0.09701442846093677,"stroke":1},{"x":0.017893192772826416,"y":0.1278340673534944,"z":-0.23222319519958529,"stroke":1},{"x":-0.09146576798738992,"y":0.03236252416971591,"z":-0.2677062167584617,"stroke":1},{"x":-0.7779623830943005,"y":-0.1939018281148044,"z":-0.2286280810783318,"stroke":1}],[{"x":0.09873274856938097,"y":-0.3746947265041477,"z":0.23550055551443094,"stroke":1},{"x":0.13339065334563582,"y":-0.19288436343230764,"z":0.22871309846777477,"stroke":1},{"x":0.16804855812189068,"y":-0.011074000360467684,"z":0.22192564142111848,"stroke":1},{"x":0.20270646289814565,"y":0.17073636271137227,"z":0.2151381843744622,"stroke":1},{"x":0.16458848850271213,"y":0.20396294173518625,"z":0.07305397389429436,"stroke":1},{"x":0.10805720756674075,"y":0.19959576313258964,"z":-0.10326219122888933,"stroke":1},{"x":0.019728304880899605,"y":0.1655827289761005,"z":-0.2594558709265611,"stroke":1},{"x":-0.09795888678355136,"y":0.06466809372025722,"z":-0.32295060564991507,"stroke":1},{"x":-0.7972935371018544,"y":-0.22589279997858278,"z":-0.2886627858667151,"stroke":1}]]}');


                trainer.on('PEACE', function () {
                    console.log('peace gesture detected!');
                    document.getElementById('keywords').innerText += " Peace ";
                });
                trainer.on('WAVE', function () {
                    console.log('wave gesture detected!');
                    document.getElementById('keywords').innerText += " Wave ";
                });
                // trainer.on('FAMILY', function () {
                //     console.log('family gesture detected!');
                //     document.getElementById('keywords').value += " Family ";
                // });

                trainer.on('OK', function () {
                    console.log('ok gesture detected!');
                    document.getElementById('keywords').innerText += " OK ";
                });

                function showAlert(header, message, success) {
                    html = "";
                    if (!success) {
                        html += '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
                    }
                    else
                        html += '<div class="alert alert-success alert-dismissible fade show" role="alert">';

                    html += '  <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                            '    <span aria-hidden="true">&times;</span>\n' +
                            '  </button>';
                    html += '<h4 class="alert-heading">' + header + '</h4>';
                    html += '<p>' + message + '</p>';
                    html += '</div>'
                    $('#message_container').append(html);
                }


                var controller = new Leap.Controller();
                controller
                        .use('playback', {
                            recording: '/json/Idontcare.json.lz',
                            requiredProtocolVersion: 6,
                            pauseOnHand: true,
                            loop: false,
                            overlay: false,
                        }).use('riggedHand').connect();

                

            </script>
        </div>
    </div>