<head>
    <!--<script src="/js/build-index.js"></script>-->
    <script src="js/three.min.js"></script>

    <script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="http://js.leapmotion.com/leap-plugins-0.1.11.js"></script>
    <script src="http://js.leapmotion.com/leap.rigged-hand-0.1.4.js"></script>
    <!--&lt;!&ndash; override the bundled playback plugin: &ndash;&gt;-->
    <!--<script src="js/leap.playback-0.2.1.min.js"></script>-->
</head>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <div class="row">
        <label for="exampleInputEmail1">Type a word</label>
        <input type="text" class="form-control" id="keywords" aria-describedby="keywordHelp"
               placeholder="Enter Words To Display Here">
        <small id="keywordHelp" class="form-text text-muted">Enter Words To Display Here, and they will be
            turned into sign language
        </small>
        <button onclick="submitClick()" class="btn btn-primary">Submit</button>

        <div id="connect-leap" class="col-md-8"></div>
        <script>

            var recordingName = "alex";
            var strArr = [];
            var timeVid = 0;
            var isDone = false;

            function submitClick() {
                var str = document.getElementById('keywords').value;
                var res = str.split(" ");
                strArr = res;
                for (var i = 0; i < res.length; i++) {
                    recordingName = res[i];
                    isDone = false;
                    pos = i;

                    var controller = new Leap.Controller();
                    if ()
                    controller
                            .use('playback', {
                                recording: '/json/' + recordingName + '.json.lz',
                                requiredProtocolVersion: 6,
                                pauseOnHand: true,
                                loop: false,
                                overlay: false,
                            }).use('riggedHand').connect();
                    window.controller = controller;

                    return window.controller.on('playback.playbackFinished', function (player) {
                        console.log("Playback DOne!");
                        pos++;
                        document.getElementsByTagName("canvas")[0].remove();
                        playVideo(pos, res.length);
                    });


                }
            }

            function playVideo(pos, max) {
                console.log("Play video called!");

                if (pos >= max)
                    return;

                recordingName = strArr[pos];

                var controller = new Leap.Controller();
                controller
                        .use('playback', {
                            recording: '/json/' + recordingName + '.json.lz',
                            requiredProtocolVersion: 6,
                            pauseOnHand: true,
                            loop: false,
                            overlay: false,
                        }).use('riggedHand').connect();


                window.controller = controller;

                return window.controller.on('playback.playbackFinished', function (player) {
                    console.log("Playback DOne!");
                    pos++;
                    document.getElementsByTagName("canvas")[0].remove();
                    playVideo(pos, max);
                });

            }

            function UrlExists(url)
            {
                var http = new XMLHttpRequest();
                http.open('HEAD', url, false);
                http.send();
                return http.status!=404;
            }

        </script>
    </div>
</div>
